
p {
    font: normal 400 14px/1 mplus-1p-thin, sans-serif;
    line-height: 18px;
}
#section03 div > div >h2 {
    font: normal 400 18px/1 mplus-1p-regular, sans-serif !important;
    line-height: 18px;
}


#apply{
  padding-top: 15vh
}

h1{
        font-family: 'Josefin Sans', sans-serif;
      }


h1.ui.header {
    font: normal 300 34px/1 'Josefin Sans', sans-serif;
}

<style>…</style>
.ui.

#sections3 div{
  padding: 3em;
}
#sections3 li{
  text-align: left;
  position: relative;
  font-family: mplus-1p-regular;
  font-size: 14pt;
  line-height:20pt;
}

#devCommunityContent h2{
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: left !important;
  font: normal 300 16px/1 mplus-1p, sans-serif;
  line-height: 20px;

}


div#community_image {
padding-top: 10vh;
padding-left: 0px !important;
}
div#community_image div {
/*padding-top: 10vh;*/
padding-left: 10vw !important;
}

div#community_image div>li {
  font: normal 300 16px/1 mplus-1p, sans-serif;
  line-height: 40px;

}
.ui.circular.image, .ui.circular.image>*, .ui.circular.images .image, .ui.circular.images .image>* {
    border-radius: 4rem;
}

/*img.ui.medium.left.floated.image {
    padding-top: 3%;
     margin-right: 15%;
}
img.ui.image.mini{
  padding-left: 10px;
  padding-top: 10px
}*/

.ui.header{
  font-family: mplus-1p-regular;
  font-weight: normal;
}
h1.ui.center.aligned.icon.header{
    top: 10%;
    z-index: 2;
    color: black;
    font : normal 300 34px/1 'Josefin Sans', sans-serif;
}


h2{
  font-size: 12pt;
  text-align: center;
  font-family: mplus-1p-regular;
  line-height: normal;

}
h3{
  font-size: 10pt;
  text-align: center;
  font-family: mplus-1p-light;
  line-height: normal;
}

.landing3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
  width: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.5);
  padding: 0;
  color: white;
  background-image: url("/images/uncomplicate.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-position: fixed;
  font-weight: 100;
  font-family: mplus-1p-light;
}

.landing4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
  width: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.5);
  padding: 0;
  /*margin-top: -10vh;
  margin-bottom: -10vh;*/
  color: white;
  background-image: url("https://scontent.fapa1-1.fna.fbcdn.net/v/t31.0-8/12492038_10205057613710478_6388244420187223282_o.jpg?oh=f97c691a853f5f2940e1d0c354c995ab&oe=5A73A0A1");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-position: fixed;
  font-weight: 100;
  font-family: mplus-1p-light;
}





.darken{
  /*position: fixed;*/
  background-color: rgba(0,0,0,.5);

}


/*
.landing2{
  padding-top: 4em;
  padding-bottom: 2em;
  height: 100%;
  width: 100%;
  background-color:

}*/






.landing2 h1{
  font-family: 'Josefin Sans', sans-serif;
}

.ui.segment.container.landing4{
  background-image: url("/images/globe.jpg");
  background-size:cover;
  color: black
}
.grid{
  background-color: white;
  padding-bottom: 4em;
}



.ui.button{
  max-height: 2.5em;
  background-color: #FFC107
}

.ui.three.column.grid.stackable {
    padding-left: 1em;
    padding-right: 1em;
}

.ui.column.centered.header {
    padding-left: 6em;
    padding-right: 3em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh
}
/*.ui.column.centered.header p{
  padding-top: 70px
}*/

.ui.grid+.grid {
    margin-top: 1rem;
    padding-top: 2VH;
}
#pad_bottom{
  padding-bottom: 5vh
}
#pad10{
  padding-top: 10vh
}
#padBottom15{
  padding-bottom: 15vh
}
#show{
  display: none;
}
.ui.column.centered.header {
    /*margin: -.15em;*/
}

#idea_candidate img{
  padding-top: 1.5em
}
#idea_candidate .ui.two.column.grid.stackable {
    background-color: rgba(0,0,0,.7);
}
.ui.three.column.grid.stackable {
    background-color: rgba(0,0,0,0);
}
/*#perks {
  background:
  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb6eRGBSVyQue1gUKrbX83TL9t_mOmS9Ax7jr6o6KCOFk1bn0M) center center / no-repeat;

  position: relative;
  width: 100vw;
  height: 100vh;
}

#perks {
  background: url(https://cdn.stocksnap.io/img-thumbs/960w/55A6840521.jpg) center center / cover no-repeat;

  position: relative;
  width: 100vw;
  height: 100vh;
}*/
#perks {
  background:
   url(https://s.dou.ua/img/static/companies/midealab_logo_1.png) center center / cover no-repeat,  url(https://cdn.stocksnap.io/img-thumbs/960w/55A6840521.jpg) center center / cover no-repeat;
  position: relative;
  width: 100vw;
  height: 120.5vh;
}

/*#section03 {
  background:
   url(https://cdn.stocksnap.io/img-thumbs/960w/55A6840521.jpg) center center / cover no-repeat,url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb6eRGBSVyQue1gUKrbX83TL9t_mOmS9Ax7jr6o6KCOFk1bn0M) center center / no-repeat;
  position: inherit;
  width: 100vw;
  height: 100vh;
}*/



/*#tint article{
  background-color: rgba(0,0,0,.5);
  color: white
}*/
/*#tint div{
  background-color: rgba(0,0,0,.5);
  color: white
}*/

#perks h1{
  padding-bottom: 1.5em;
  right:10px;
}
#perks article {
  position: relative;
  width: 150vw;
  height: 120.5vh;
  padding-left: 7vw
  /*padding-bottom: 15vh*/
}
#perks article::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 150vw;
  height: 60vh;
  background: -webkit-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  z-index: 10
}
#perks article h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 9;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  font : normal 300 34px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: wrap;
}


#idea_candidate h1{
  padding-bottom: 1.5em;
  right:10px;
}
#idea_candidate article {
  position: relative;
  width: 100vw;
  height: 100%;
  /*padding-bottom: 15vh*/
}
#idea_candidate article::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 60vh;
  background: -webkit-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  z-index: 3
}
#idea_candidate article h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  font : normal 300 34px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: wrap;
}
#idea_candidate{
  background: url(https://media.licdn.com/media/AAEAAQAAAAAAAAlTAAAAJDM4ZmQ0OWU5LWFiZTgtNDgxZi1iMDFhLWNjZWFhZTM4OGZhNQ.png) center center / cover no-repeat;

}

#absolute{
  position: absolute;
  z-index: 10;
  padding-left: 10%;
  padding-right: 10%;
}
#absolute_nopadding.ui.segment.container{
  position: absolute;
  z-index: 15;
  min-height: 150px;

}
#absolute_nopadding.ui.three.column.grid{
  padding-bottom: 5vh;
  padding-left: 2em;
  padding-right: 4em;
}
div#padding-left{
  padding-left: 8vw !important;
}

.ui.three.column.grid.stackable {
    padding-bottom: 20vh;
    padding-right: 10vw
}
#section02{
  padding-top: 5vh
}


div#perk1.column{
  padding-right: 20vw !important;
  /*padding-top: 10vh*/
}
div#perk2.column{
  padding-right: 20vw !important;
  /*padding-top: 10vh*/
}


#eligibility {

  padding-top: 15vh;
  padding-bottom: 5vh;
  padding-left: 10vw;

  }
#devCommunity {

  padding-top: 15vh;
  padding-bottom: 0vh;
  padding-left: 10vw;
  }
#digProduct {

  padding-top: 15vh;
  padding-bottom: 0vh;
  padding-left: 10vw;

  }
#section2 {

  padding-top: 15vh;
  padding-bottom: 0vh;
  padding-left: 10vw;

  }

#digProductStudio> article > div > img {

  padding-left: 15vw;
  padding-bottom: 0vh;

  }

  .ui.large.image, .ui.large.images .image, .ui.large.images img, .ui.large.images svg {
    width: 450px;
    height: auto;
    font-size: 1.14285714rem;
    /*padding-left: 10vw;*/
}
/*#idea_candidate .ui.two.column.grid.stackable div {
    background-color: rgba(0,0,0,.7);
    border-style: solid;
    border-width: 5px;

}*/


/*.ui.two.column.grid.stackable {
    position: absolute;
    z-index: 15;
}*/

/*#ideal_candidate_image{
    background: url(https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center center / cover no-repeat !important;
  }*/

  /*#section03{
    position: absolute;
    z-index: 11
  }*/

  /*#remove div{
  margin-top: -16.6px !important;
  }*/

/*@media only screen and (max-width: 767px)*/


/*element properties for first perk div*/

    div#perk1 {
      padding-top: 5vh !important;
      padding-bottom: 10vh !important;
      padding-right: 0vw;
      padding-left: 0vw;
      min-width: 100%;
      margin-top: 0px;
    }

    div#perk1 div {
      background-color: rgba(0,0,0,0);
      color: white;
      border-style: solid;
       border-width: 5px;
       border-color: transparent;
       box-sizing:content-box;
    }
    article#section03 div > div > h3 {
      padding-left: 15vw !important;
      padding-right: 15vw !important;

    }

/*element properties for second perk div*/

    div#perk2 {
      padding-top: 5vh !important;
      padding-bottom: 10vh !important;
      padding-right: 0vw;
      padding-left: 0vw;
      min-width: 100%;
      margin-top: 100px;
    }

    div#perk2 div {
      background-color: rgba(0,0,0,0);
      color: white;
      border-style: solid;
         border-width: 5px;
         border-color: transparent;
         box-sizing:content-box;
         /*margin-top: 50px;*/
    }
    /*element properties for third perk div*/



    div#perk3 {

      padding-top: 5vh !important;
      padding-bottom: 10vh !important;
      padding-right: 0vw;
      padding-left: 0vw;
        min-width: 100%;
      /*max-width: 400px;*/
      margin-top: 90px;
    }
    div#perk3 div {
      background-color: rgba(0,0,0,0);
      color: white;
      border-style: solid;
         border-width: 5px;
         border-color: transparent;
         /*margin-top: -175px;*/

         /*padding-left: 100px;*/
         /*padding-right: 100px;*/
         box-sizing:content-box;
         width: 100vw;
    }
    /*element properties for 4th perk div*/



    div#perk4 {

      padding-top: 5vh !important;
      padding-bottom: 10vh !important;
      padding-right: 0vw;
      padding-left: 0vw;
      min-width: 100%;
      box-sizing: content-box;
      margin-top: 122px;


    }

    div#perk4 div {
      background-color: rgba(0,0,0,0);
      color: white;
      border-style: solid;
         border-width: 5px;
         border-color: transparent;
         /*margin-top: -186px;*/

         /*padding-left: 100px;*/
         /*padding-right: 100px;*/
         box-sizing:content-box;

    }
/*This sections can control all child divs of the perks compenent */



/*#perks div > div > div{
  background-color: transparent;
  top: -18vh;
  padding-bottom: 5vh;
  padding-top: 5vh;
  margin-bottom: 0vh;
  margin-top: 0vh;
}*/

    #perks div > div> h2{
      font-weight: 400;
      font-size: 16px;
      font-family: mplus-1p-bold;
   }
    #perks div > div > div:hover{
      background-color: rgba(0, 0, 0, 0.5);
   }
    #perks div > div > div {
      top: -18vh;
      padding-bottom: 0vh;
      padding-top: 10vh;
      margin-bottom: 0vh;
      margin-top: 0vh;
      /*background-color: blue;*/
      width: 100vw;
   }

       #perks article {
         position: relative;
         width: 150vw;
         height: 120.5vh;
         background-color: rgba(0, 0, 0, 0.7);
         padding-top: 10vh;
         padding-right: -50px;
         margin-left: -10vw
       }


   /*#perks div > div > div .ui .segment .container{
     top: -18vh;
     padding-bottom: 0vh;
     padding-top: 10vh;
     margin-bottom: 0vh;
     margin-top: 0vh;
     background-color: blue;
     width: 150vw;
  }*/


    #perks div {
      padding-top:10vh
   }

    #grid_bottom{
      margin-top: -200px;
    }


    #section2 {
      padding-top: 4em !important;
      padding-bottom: 2em !important;
      /*width: 100% !important;*/
      /*height: 100% !important;*/
      /*z-index:0 !important;*/
      -webkit-transform: translateZ( 0 ) !important;
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 3.6s ease-in-out !important;
    transition: transform 3.6s ease-in-out !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    /*background-color: blue !important;*/

    }

    /*It's something with the targeted section and what not*/

    a[ id= "top" ]:target ~ #section01{
        -webkit-transform: translateY( -1000px) !important;
        transform: translateY( -1000px ) !important;
    }


@media (min-width: 301px) and (max-width: 800px) {



/*@media only screen
  and (min-device-width: 800px)
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2) {*/




    .ui.stackable.grid{
      padding-top: 10vh
    }
    .ui.two.column.grid.stackable {
        padding-top: 10vh;
        padding-bottom: 10vh;
        /*background-color: rgba(0,0,0,.5) !important;*/

    }
    .ui.two.column.grid.stackable.tint{
        background-color: rgba(0,0,0,.7) !important;

    }

    /*.landing2 {
    width: 100%;
    height: 500px;
    z-index:0;
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}*/




    #pad10 i{
      padding-top: 4vh
    }

    /*#pad10 div{
      padding-bottom: 5vh
    }*/

    #remove div{
    margin-top: -6.6px !important;
    }

    #absolute{
      position: absolute;
      z-index: 10;
      padding-left: 10%;
      padding-right: 10%;
    }


    .ui.column.centered.header {
        padding-left: 6em;
        padding-right: 3em;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        padding-top: 20vh;
    }

    #sections3 li{
      text-align: left;
      position: relative;
      left: 0em;
      font-family: mplus-1p-regular;
      font-size: 10pt;
      line-height:14pt;
      white-space: wrap;
    }
    #sections3 div{
      padding-top: -2.5em;
      min-width: 355px;
    }
    #community_image div{
      padding-left: 1em;
    }

    div#community_image {
    padding-top: 10vh;
    }




    #hide{
      display: none;
    }

    #show{
      display: block;
    }

    img.ui.centered.large.image {
    padding-right: 5em;
    display: none;
    }



/*element properties for first perk div*/

    div#perk1  {

      padding-top: 5vh !important;
      padding-bottom: 10vh !important;
      padding-right: 0vw;
      padding-left: 0vw;
        min-width: 100%;
    }

    div#perk1 div{
      background-color: rgba(0,0,0,0);
      color: white;
      border-style: solid;
         border-width: 5px;
         border-color: transparent;
         margin-top: 0px;
         padding-right: 10vw !important;
         padding-left: 10vw !important;
         box-sizing: content-box;
         width: 100vw;
    }

/*element properties for second perk div*/

    div#perk2  {

      padding-top: 5vh !important;
      padding-bottom: 10vh !important;
      padding-right: 0vw;
      padding-left: 0vw;
        min-width: 100%;
        margin-top: 115px !important;

    }

    div#perk2 div {
      background-color: rgba(0,0,0,0);
      color: white;
      border-style: solid;
         border-width: 5px;
         border-color: transparent;
         margin-top: 0px;
         padding-right: 10vw !important;
         padding-left: 10vw !important;
         box-sizing: content-box;
         width: 100vw;
    }
    /*element properties for third perk div*/



    div#perk3 {

      padding-top: 5vh !important;
      padding-bottom: 10vh !important;
      padding-right: 0vw;
      padding-left: 0vw;
        min-width: 100%;
        margin-top: 90px !important;

      /*max-width: 400px;*/
      /*margin-top: -200px;*/
    }
    div#perk3 div {
      background-color: rgba(0,0,0,0);
      color: white;
      border-style: solid;
         border-width: 5px;
         border-color: transparent;
         margin-top: 0px;
         padding-right: 10vw !important;
         padding-left: 10vw !important;
         box-sizing: content-box;
         width: 100vw;
    }
    /*element properties for 4th perk div*/



    div#perk4 {

      padding-top: 5vh !important;
      padding-bottom: 10vh !important;
      padding-right: 0vw !important;
      padding-left: 0vw !important;
      min-width: 100% !important;
      box-sizing: content-box;
      margin-top: 122px !important;
    }

    div#perk4 div {
      background-color: rgba(0,0,0,0);
      color: white;
      border-style: solid;
         border-width: 5px;
         border-color: transparent;
         box-sizing: content-box;
         padding-right: 10vw !important;
         padding-left: 10vw !important;
    }
/*This sections can control all child divs of the perks compenent */
#perks div > div> h2{
  font-weight: 400;
  font-size: 16px;
  font-family: mplus-1p-bold;
}
#perks div > div > div:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

#perks div > div > div {
  top: -18vh;
  padding-bottom: 0vh;
  padding-top: 5vh;
  margin-bottom: 0vh;
  margin-top: 0vh;
  /*background-color: blue;*/
  width: 100vw
 }

   #perks article {
     position: relative;
     width: 150vw;
     height: 122.5vh;
     background-color: rgba(0, 0, 0, 0.7);
     padding-top: 10vh;
     padding-right: 10vw;
     margin-left: -20vw
   }


    /*#perks article {
      position: relative;
      width: 100vw;
      height: 100vh;
      padding-left: 7vw
    }*/



    #perks article::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 150vw;
      height: 60vh;
      background: -webkit-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
      background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
      z-index: 10
    }
    #perks article h1 {
      position: absolute;
      top: 10%;
      left: 50%;
      z-index: 9;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: black;
      font : normal 300 34px/1 'Josefin Sans', sans-serif;
      text-align: center;
      white-space: wrap;
    }



    #perks {
      background:
       url(https://s.dou.ua/img/static/companies/midealab_logo_1.png) center center / cover no-repeat,  url(https://cdn.stocksnap.io/img-thumbs/960w/55A6840521.jpg) center center / cover no-repeat;
      position: relative;
      width: 100vw;
      height: 122.5vh;
    }


    /*#absolute{
      position: absolute;
      z-index: 10;
      padding-left: 10%;
      padding-right: 10%;
    }*/
    #absolute_nopadding.ui.segment.container{
      position: absolute;
      z-index: 15;
      min-height: 150px;
      width: 200px;

    }
    #grid_bottom.ui.three.column.grid{

      /*background-color: transparent*/
   }

   article#section03 div > div > h3 {
     padding-left: 0vw !important;
     padding-right: 0vw !important;

   }
   div#community_image div {
   /*padding-top: 10vh;*/
   padding-left: 2vw !important;
   }
   div#community_image div > li {
   /*padding-top: 10vh;*/
   padding-left: 10vw !important;
   }




}
