
h1{
        font-family: 'Josefin Sans', sans-serif;
      }


h1.ui.header {
    font: normal 300 34px/1 'Josefin Sans', sans-serif;
}

<style>…</style>
.ui.

#section03_content div{
  padding: 3em;
}
#section03_content li{
  text-align: left;
  position: relative;
  font-family: mplus-1p-regular;
  font-size: 14pt;
  line-height:20pt;
}




/*img.ui.medium.left.floated.image {
    padding-top: 3%;
     margin-right: 15%;
}
img.ui.image.mini{
  padding-left: 10px;
  padding-top: 10px
}*/

.ui.header{
  font-family: mplus-1p-regular;
  font-weight: normal;
}
h1.ui.center.aligned.icon.header{
    top: 10%;
    z-index: 2;
    color: black;
    font : normal 300 34px/1 'Josefin Sans', sans-serif;
}


h2{
  font-size: 12pt;
  text-align: center;
  font-family: mplus-1p-regular;
  line-height: normal;

}
h3{
  font-size: 10pt;
  text-align: center;
  font-family: mplus-1p-light;
  line-height: normal;
}

.landing3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
  width: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.5);
  padding: 0;
  color: white;
  background-image: url("/images/uncomplicate.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-position: fixed;
  font-weight: 100;
  font-family: mplus-1p-light;
}

.landing4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
  width: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.5);
  padding: 0;
  /*margin-top: -10vh;
  margin-bottom: -10vh;*/
  color: white;
  background-image: url("https://scontent.fapa1-1.fna.fbcdn.net/v/t31.0-8/12492038_10205057613710478_6388244420187223282_o.jpg?oh=f97c691a853f5f2940e1d0c354c995ab&oe=5A73A0A1");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-position: fixed;
  font-weight: 100;
  font-family: mplus-1p-light;
}





.darken{
  /*position: fixed;*/
  background-color: rgba(0,0,0,.5);

}



.landing2{
  padding-top: 4em;
  padding-bottom: 2em;
  height: 100%;
  width: 100%;
  background-color:

}

.landing2 h1{
  font-family: 'Josefin Sans', sans-serif;
}

.ui.segment.container.landing4{
  background-image: url("/images/globe.jpg");
  background-size:cover;
  color: black
}
.grid{
  background-color: white;
  padding-bottom: 4em;
}



.ui.button{
  max-height: 2.5em;
  background-color: #FFC107
}

.ui.three.column.grid.stackable {
    padding-left: 1em;
    padding-right: 1em;
}

.ui.column.centered.header {
    padding-left: 6em;
    padding-right: 3em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*.ui.column.centered.header p{
  padding-top: 70px
}*/


#pad_bottom{
  padding-bottom: 5vh
}
#pad10{
  padding-top: 10vh
}
#show{
  display: none;
}
.ui.column.centered.header {
    /*margin: -.15em;*/
}

#idea_candidate img{
  padding-top: 1.5em
}
#idea_candidate .ui.two.column.grid.stackable {
    background-color: rgba(0,0,0,.5);
}

#idea_candidate h1{
  padding-bottom: 1.5em;
  right:10px;
}
#idea_candidate article {
  position: relative;
  width: 100vw;
  height: 100%;
  padding-bottom: 10vh
}
#idea_candidate article::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  z-index: 3
}
#idea_candidate article h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  font : normal 300 34px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: wrap;
}
#idea_candidate{
  background: url(https://media.licdn.com/media/AAEAAQAAAAAAAAlTAAAAJDM4ZmQ0OWU5LWFiZTgtNDgxZi1iMDFhLWNjZWFhZTM4OGZhNQ.png) center center / cover no-repeat;

}
#absolute{
  position: absolute;
  z-index: 10;
  padding-left: 10%;
  padding-right: 10%;
}



/*.ui.two.column.grid.stackable {
    position: absolute;
    z-index: 15;
}*/

/*#ideal_candidate_image{
    background: url(https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) center center / cover no-repeat !important;
  }*/

  /*#section03{
    position: absolute;
    z-index: 11
  }*/


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #section03_content li{
      text-align: left;
      position: relative;
      left: 0em;
      font-family: mplus-1p-regular;
      font-size: 10pt;
      line-height:14pt;
      white-space: wrap;
    }
    #section03_content div{
      padding-top: -2.5em;
      min-width: 355px;
    }
    #bullets div, img, li{
      padding-left: 1em;
    }

    #hide{
      display: none;
    }

    #show{
      display: block;
    }
    #idea_candidate img{
      padding-top: 0em
    }
    img.ui.centered.large.image {
    padding-right: 5em;
}

}
