
#idea_candidate .ui.two.column.grid.stackable {
    background-color: rgba(0, 0, 0, 0);
}



#idea_candidate {
  background:
   url(https://s.dou.ua/img/static/companies/midealab_logo_1.png) center center / cover no-repeat,  url(https://cdn.stocksnap.io/img-thumbs/960w/NXZELRJWF8.jpg) center center / cover no-repeat;
  position: relative;
  width: 100vw;
  height: 126vh;
}

#idea_candidate div > div >div{
  /*top: -18vh;*/
  padding-bottom: 0vh;
  padding-top: 10vh;
  padding-right: 2vw;
  padding-left: 2vw;
  margin-bottom: 0vh;
  margin-top: 10vh;
  margin-right: 0vw;
  margin-left: 0vw;
  /*background-color: blue;*/
  width: 50vw;
  height: 250px
}

#idea_candidate div > div >div:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

#idea_candidate div > div {
  /*top: -18vh;*/
  padding-bottom: 0vh;
  padding-top: 0vh;
  padding-right: 0vw;
  padding-left: 0vw;
  margin-bottom: 0vh;
  margin-top: 0vh;
  margin-right: 0vw;
  margin-left: 0vw;
  background-color: transparent;
  width: 50vw;


}

#idea_candidate article {
  position: relative;
  width: 120vw;
  height: 126vh;
  background-color: rgba(0, 0, 0, 0.2);
  /*padding-top: 10vh;*/
  margin-right: 0vw;
  margin-left: 0vw;
  /*padding-right: -50px;*/
  /*margin-left: -10vw*/
}


#perks article::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 150vw;
  /*height: 100vh;*/
  background: -webkit-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  z-index: 10
}
/*adjustments for skills 1*/

#skills1 {
  box-sizing: content-box;
  width: 50vw;
  margin-top: 0px !important;
  padding-top: 85px !important;
  padding-bottom: 80px !important;
}
#skills1 p{
  padding-right: 10vw !important;
  padding-left: 10vw !important;
  padding-bottom: 50px !important;
}
#skills1 div{
  padding-bottom: 5vh !important;
  padding-top: 5vh !important;

}

/*adjustments for skills 2*/

#skills2 {
  box-sizing: content-box;
  width: 50vw;
  margin-top: 0px !important;
  padding-top: 85px !important;
  padding-bottom: 80px !important;
}
#skills2 p{
  padding-right: 10vw !important;
  padding-left: 10vw !important;
  padding-bottom: 50px !important;
}
#skills2 div{
  padding-bottom: 5vh !important;
  padding-top: 5vh !important;


}

/*adjustments for skills 3*/

#skills3 {
  box-sizing: content-box;
  width: 50vw;
  margin-top: 0px !important;
  padding-top: 245px !important;
  padding-bottom: 200px !important;
}
#skills3 p{
  padding-right: 10vw !important;
  padding-left: 10vw !important;
}
#skills3 div{
  padding-bottom: 5vh !important;
  padding-top: 5vh !important;


}

/*adjustments for skills 4*/

#skills4 {
  box-sizing: content-box;
  width: 50vw;
  margin-top: 0px !important;
  padding-top: 245px !important;
  padding-bottom: 200px !important;
}
#skills4 p{
  padding-right: 10vw !important;
  padding-left: 10vw !important;
}

#skills4 div{
  padding-bottom: 5vh !important;
  padding-top: 5vh !important;


}
/*adjustments for skills 5*/

#skills5 {
  box-sizing: content-box;
  width: 50vw;
  margin-top: 0px !important;
  padding-top: 125px !important;
  padding-bottom: 100px !important;
  /*padding-right: 10vw !important;
  padding-left: 10vw !important;*/
}
#skills5 p{
  padding-right: 10vw !important;
  padding-left: 10vw !important;
}
#skills5 div{
  padding-bottom: 5vh !important;
  padding-top: 5vh !important;


}


/*adjustments for skills 6*/

#skills6 {
  box-sizing: content-box;
  width: 50vw;
  margin-top: 0px !important;
  padding-top: 125px !important;
  padding-bottom: 100px !important;
  /*padding-right: 10vw !important;
  padding-left: 10vw !important;*/
}
#skills6 p{
  padding-right: 10vw !important;
  padding-left: 10vw !important;
}
#skills6 div{
  padding-bottom: 5vh !important;
  padding-top: 5vh !important;


}














@media (min-width: 301px) and (max-width: 800px) {


  #idea_candidate.ui.two.column.grid.stackable {
      background-color: rgba(0, 0, 0, 0) !important;
  }
  #idea_candidate {
    background:
     url(https://s.dou.ua/img/static/companies/midealab_logo_1.png) center center / cover no-repeat,  url(https://cdn.stocksnap.io/img-thumbs/960w/NXZELRJWF8.jpg) center center / cover no-repeat;
    position: relative;
    width: 100vw;
    height: 204vh;
  }

  #idea_candidate div > div >div{
    /*top: -18vh;*/
    padding-bottom: 0vh;
    padding-top: 0vh;
    padding-right: 20vw;
    padding-left: 0vw;
    margin-bottom: 0vh;
    margin-top: 0vh;
    margin-right: 0vw;
    margin-left: 0vw;
    /*background-color: blue;*/
    width: 100vw;
    height: 250px !important;
  }

  #idea_candidate div > div >div:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }

  #idea_candidate div > div {
    /*top: -18vh;*/
    padding-bottom: 0vh;
    padding-top: 0vh;
    padding-right: 0vw;
    padding-left: 0vw;
    margin-bottom: 0vh;
    margin-top: 0vh;
    margin-right: 0vw;
    margin-left: 0vw;
    background-color: transparent;


  }

  #idea_candidate article {
    position: relative;
    width: 120vw;
    height: 204vh;
    background-color: rgba(0, 0, 0, 0.5);
    /*padding-top: 10vh;*/
    margin-right: 0vw;
    margin-left: 0vw;
    /*padding-right: -50px;*/
    /*margin-left: -10vw*/
  }


  #perks article::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 150vw;
    /*height: 100vh;*/
    background: -webkit-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    z-index: 10
  }
  /*adjustments for skills 1*/

  #skills1 {
    box-sizing: content-box;
    margin-bottom: 0px !important;
    width: 50vw;
    margin-top: 0px !important;
    padding-top: 55px !important;
    /*padding-bottom: 120px !important;*/
  }
  #skills1 p{
    padding-right: 10vw !important;
    padding-left: 10vw !important;
  }
  #skills1 i{
    padding-top: 20px !important;
  }
  #skills1 div{
    padding-bottom: 1vh !important;
    padding-top: 1vh !important;


  }

  /*adjustments for skills 2*/

  #skills2 {
    box-sizing: content-box;
    margin-bottom: 0px !important;
    width: 50vw;
    margin-top: 0px !important;
    padding-top: 180px !important;
    padding-bottom: 120px !important;
  }
  #skills2 p{
    padding-right: 10vw !important;
    padding-left: 10vw !important;
  }
  #skills2 i{
    padding-top: 20px !important;
  }
  #skills2 div{
    padding-bottom: 1vh !important;
    padding-top: 1vh !important;


  }

  /*adjustments for skills 3*/

  #skills3 {
    box-sizing: content-box;
    margin-bottom: 0px !important;
    width: 50vw;
    margin-top: 0px !important;
    padding-top: 145px !important;
    padding-bottom: 120px !important;
  }
  #skills3 p{
    padding-right: 10vw !important;
    padding-left: 10vw !important;
  }
  #skills3 i{
    padding-top: 20px !important;
  }
  #skills3 div{
    padding-bottom: 1vh !important;
    padding-top: 1vh !important;


  }

  /*adjustments for skills 4*/

  #skills4 {
    box-sizing: content-box;
    margin-bottom: 0px !important;
    width: 50vw;
    margin-top: 0px !important;
    padding-top: 145px !important;
    padding-bottom: 120px !important;
  }
  #skills4 p{
    padding-right: 10vw !important;
    padding-left: 10vw !important;
  }
  #skills4 i{
    padding-top: 20px !important;
  }
  #skills4 div{
    padding-bottom: 1vh !important;
    padding-top: 1vh !important;


  }

  /*adjustments for skills 5*/

  #skills5 {
    box-sizing: content-box;
    margin-bottom: 0px !important;
    width: 50vw;
    margin-top: 0px !important;
    padding-top: 93px !important;
    padding-top: 145px !important;
    padding-right: 0vw !important;
    padding-left: 0vw !important;
  }
  #skills5 p{
    padding-right: 10vw !important;
    padding-left: 10vw !important;
  }
  #skills5 i{
    padding-top: 20px !important;
  }
  #skills5 div{
    padding-bottom: 1vh !important;
    padding-top: 1vh !important;


  }


  /*adjustments for skills 6*/

  #skills6 {
    box-sizing: content-box;
    margin-bottom: 0px !important;
    width: 50vw;
    margin-top: 0px !important;
    padding-top: 165px !important;
    padding-bottom: 0px !important;
    padding-right: 0vw !important;
    padding-left: 0vw !important;
  }
  #skills6 p{
    padding-right: 10vw !important;
    padding-left: 10vw !important;
    padding-bottom: 0px !important;
  }
  #skills6 i{
    padding-top: 20px !important;
  }
  #skills6 div{
    padding-bottom: 1vh !important;
    padding-top: 1vh !important;


  }





}
